*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "AvenirNextLTPro-Regular.otf"
}

@font-face {
  font-family: "AvenirNextLTPro-Regular.otf";
  src: url(avenir-font/font/AvenirNextLTPro-Regular.otf);
}

@font-face {
font-family: "AvenirNextLTPro-Bold.otf";
src: url(avenir-font/font/AvenirNextLTPro-Bold.otf);

}

/* header */
.global-header{
  width: 100%;
  height: 200px;
  background:lightblue;

}

.global-header::after{
  content: "";
  display: table;
  clear: both;
}
/* top-header */
.top-header{
  width: 100%;
  height:50px;
  background-color:#33475B;
}

.top-header::after{
  content: "";
  display: table;
  clear: both;
}

.logo{
  float: left;
  width:10%;
  height:50px;
}

.logo img{
  height: 40%;
  margin-left: 70%;
  margin-top:15px;
}

.about{
  float: left;
  width:30%;
  height:50px;
}

.about ul{
  list-style-type: none;
}

.about ul li{
  display:block;
  float:left;
  color:white;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 18px;
}

.about ul li a{
  text-decoration: none;
  color:white;
}

.about ul li a:hover{
  color:orange;
}

.login{
  float: right;
  width:20%;
  height:50px;
}

.login ul li{
  display:block;
  float:left;
  color:white;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 18px;
}

.login ul li a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.login ul li:nth-child(3){
  font-size: 4px;
}
/* |top-header */

/* middle-header */
.middle-header{
  width: 100%;
  height:75px;
  background-color: #E2E2E2;
}

.middle-header::after{
  content: "";
  display: table;
  clear: both;
}

.informazioni{
  float: left;
  width:30%;
  background:#E2E2E2;
  height:75px;
}

.informazioni ul{
  list-style-type: none;
  margin-left: 30%;
}

.informazioni ul li{
  display:block;
  float:left;
  color:white;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 25px;
  color:#33475B;
}

.get-hub{
  float: right;
  width:30%;
  height:75px;
}

.get-hub ul{
  list-style-type: none;
  margin-left: 20%;
}

.get-hub ul li{
  display:block;
  float:left;
  color:white;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 25px;
}

.get-hub ul li:first-child{
  color:#33475B;
  font-size: 14px;
}

.get-hub ul li:last-child{
  padding: 8px 20px;
  background:#FF7A59;
  margin:0 10px;
  border:2px solid black;
  font-size:18px;
  margin-top:10px;
}
/* |middle-header */

/* bottom-header */

.bottom-header{
  width: 100%;
  height:75px;
  background-color: white;;
}

.bottom-header::after{
  content: "";
  display: table;
  clear: both;
}

.logo2{
  float: left;
  width:30%;
  height:75px;
}

.logo2 img{
  width: 40%;
  height: 40%;
  margin-left: 23%;
  margin-top: 4%;
}

.categ{
  float: right;
  width:40%;
  height:75px;
}

.categ ul{
  list-style: none;
  margin-left:15%;
}

.categ ul li{
display:block;
float:left;
color:white;
font-size: 20px;
margin-left: 20px;
margin-top: 25px;
}

.categ ul li a{
  text-decoration: none;
  color:#33475B;
}
/* |header */

/* prima sezione */
.first{
  height: 693px;
  width: 100%;
  background: url(../img/sfondohub.png)
}

.first h1{
  color:#33475B;;
  font-size: 60px;
  display: block;
  padding-top: 10%;
  padding-left: 20%;
  width: 50%;
  font-family: "AvenirNextLTPro-Bold.otf";
}

.first h4{
  color:#33475B;;
  display: block;
  padding-top: 2%;
  padding-left: 20%;
  font-size: 15px;
  width: 50%;
}

.first a{
  text-decoration: none;
  color:white;
  display:inline-block;
  padding: 26px 30px;
  background:#FF7A59;
  margin:0 10px;
  font-size:18px;
  margin-top:10px;
  margin-left: 20%;
  border-radius: 5px;
}

.first a:hover{
  opacity: 0.8;
  transition:0.5s;
}
/* |prima sezione */

/* seconda sezione */
section.middle{
  width: 100%;
  height:1300px;
  background: #F4F8FA;
}

.global-middle{
  width: 70%;
  height: 1250px;
  margin-left: 15%;
}

.middle1{
  width: 100%;
  height: 400px;
  background: #F4F8FA;
}

.middle1 img{
  margin-top: 50px;
  height: 50%;
  margin-left: 40%;
}

.middle1 h1{
  text-align: center;
  font-family: "AvenirNextLTPro-Bold.otf";
  font-size: 35px;
  color:#33475B;
  margin-top: 15px;
}

.middle1 p{
  text-align: center;
  color:#33475B;
  margin-top: 10px;
  display:block;
  width: 70%;
  margin-left: 15%;
}

.global-middle2{
  width: 100%;
  height: 850px;
  background-color: #F4F8FA;
}

.global-middle2::after{
  content: "";
  display: table;
  clear: both;
}

.first-middle2{
  width: 100%;
  height:300px;
  background:orange;
}

.first-middle2::after{
  content: "";
  display: table;
  clear: both;
}

.first-middle2-1,
.first-middle2-2{
  float:left;
  height: 100%;
}

.first-middle2-1{
  width: 35%;
  background: white;
}

.first-middle2-1 img{
  width:43%;
  margin-left: 25%;
  margin-top: 10%;
}

.first-middle2-1 a{
  text-decoration: none;
  color:white;
  display:inline-block;
  padding: 16px 20px;
  background:#FF7A59;
  margin:0 10px;
  font-size:15px;
  margin-top:10px;
  margin-left: 33%;
  border-radius: 5px;
  }


.first-middle2-2{
  width: 65%;
  background:white;
}

.first-middle2-2 h3{
  font-family: "AvenirNextLTPro-Bold.otf";
  margin-top: 50px;
  color: #33475B;
}

.first-middle2-2 p{
  margin-top: 10px;
  color: #33475B;
}

.first-middle2-2 ul{
  list-style-type: none;
  margin-top: 10px;
}

.first-middle2-2 ul li{
  display:block;
  float:left;
  color:#33475B;

}

.first-middle2-2 ul li i{
  display:block;
  float:left;
  color:#FF7A59;
  margin-right:10px;
}

i.i-margin{
  margin-left:10px;
}

.divider{
  width: 100%;
  height: 55%;
  background:white;

}

.divider img{
  margin-left: 33%;
  margin-top: 20px;
}

.divider img.img-first{
  width: 33%;
}

.divider img.img-second{
  width: 40%;
  margin-left: 28%;
}

.divider img.img-third{
  width: 30%;
}

.divider h3.column1,
.divider h3.column2,
.divider h3.column3{
  margin-top: 10px;
  color:#33475B;
  font-family: "AvenirNextLTPro-Bold.otf"
}

.divider h3.column1{
  margin-left: 35%;
}

.divider h3.column2{
  margin-left: 38%;
}

.divider h3.column3{
  margin-left: 35%;
}

.divider p{
  margin-top: 20px;
  margin-bottom: 12px;
  display: block;
  width: 95%;
  margin-left: 2.5%;
  color: #33475B;
  font-size: 15px;
}

.divider hr{
  width: 95%;
  display: block;
  margin-left: 2.5%;
  border-color: #33475B;
  border-top:1px;
}

.divider-2{
  width: 100%;
  height: 45%;
}

.divider-2 h3{
  font-family: "AvenirNextLTPro-Bold.otf";
  color:#33475B;
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
}

.divider-2 ul{
  list-style-type: none;
  margin-left: 4%;
}

.divider-2 ul li{
color:#33475B;
margin-bottom: 15px;
font-size: 16px;
}

.divider-2 ul li i{
  color:#FF7A59;
}

.divider-2 a{
  text-decoration: none;
  color:white;
  display:inline-block;
  padding: 16px 20px;
  background:#FF7A59;
  margin:0 10px;
  font-size:15px;
  margin-top:10px;
  margin-left: 33%;
  border-radius: 5px;
}


.second-middle2,
.third-middle2,
.fourth-middle2{
  float:left;
  height: 530px;
  margin-top:20px;
  width:30%;
  background:white;
}

.third-middle2{
  margin-left: 5%;
  margin-right: 5%;
}


/* |seconda sezione */

/* terza sezione */
.global-griglia{
  width: 100%;
  height:600px;
  background: linear-gradient(45deg, #00a4bd, #00bda5);
}

.uppergriglia{
  width: 100%;
  height: 250px;
}

.uppergriglia h1{
  text-align: center;
  color: white;
  font-family: "AvenirNextLTPro-Bold.otf";
  padding-top: 50px;
  display:block;
  width: 70%;
  margin-left: 15%;
  font-size: 27px;
}

.uppergriglia p{
  text-align: center;
  color: white;
  display: block;
  width: 55%;
  margin-left: 23%;
  margin-top: 40px;
  font-size: 17px;
}

.lowergriglia{
  width: 100%;
  height:300px;
}

.lowergriglia::after{
  content:"";
  display:table;
  clear: both;
}

.lowergriglia1{
  width: 80%;
  height:150px;
  margin-left: 10%;
}

.lowergriglia1::after{
  content:"";
  display:table;
  clear: both;
}

.box-griglia{
  float:left;
  width: 25%;
  height: 100%;
  border-bottom:1px solid white;
  border-right: 1px solid white;
}

.lowergriglia1 .box-griglia:nth-child(4){
  border-right:0;
}

.lowergriglia2{
  width: 80%;
  height:150px;
  margin-left: 10%;
}

.lowergriglia2::after{
  content:"";
  display:table;
  clear: both;
}

.box-griglia2{
  float:left;
  width: 25%;
  height: 100%;
  border-top:1px solid white;
  border-right: 1px solid white;
}

.lowergriglia2 .box-griglia2:nth-child(4){
  border-right:0;
}

.box-griglia img,
.box-griglia2 img{
  margin-top: 20px;
}

img.center{
  margin-left: 45%;
}

img.center2{
  margin-left: 41%;
}

img.center3{
  margin-left: 38%;
}

.box-griglia h2,
.box-griglia2 h2{
  text-align: center;
  font-family: "AvenirNextLTPro-Bold.otf";
  color:white;
  font-size: 45px;
}

.box-griglia h2::after,
.box-griglia2 h2::after{
  content: '+';
  display: inline-block;
  position: absolute;
  margin-top:16px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  opacity:.7;
}

.box-griglia p,
.box-griglia2 p{
  text-align: center;
  color:white;
  opacity:.7;
}
/*| terza sezione */

/* quarta sezione */
section.infogen{
  width:100%;
  background:#F4F8FA;
}

/* section.infogen::after{
  content: "";
  display:table;
  clear: both;
} */

.global-info{
  width: 70%;
  height: 900px;
  margin-left:15%;
}

.info1{
  width:100%;
  height:450px;
  background:#F4F8FA;
}

.info1::after{
  content: "";
  display:table;
  clear: both;
}

.info1-1{
  float:left;
  width:35%;
  height:450px;
}

.info1-1 h1{
  color:#33475B;
  padding-top:100px;
  font-size:50px;
  font-family: "AvenirNextLTPro-Bold.otf";
}

.info1-1 p{
  color:#33475B;
  margin-top:20px;
  display:block;
  width: 80%;
}

.info1-2{
  float:left;
  width:65%;
  height:450px;
}

.cliente-global{
  width: 100%;
  height:200px;
  margin-top: 200px;
}

.cliente-global::after{
  content: "";
  display:table;
  clear: both;
}

div.cliente{
  float:left;
  width: 20%;
  height:30%;
  margin-left: 5%;
  background:#F4F8FA;
}

div.cliente img{
  width: 90%;
}

.info2{
  width:100%;
  height:450px;
  background:#F4F8FA;
}

.info2::after{
  content: "";
  display:table;
  clear: both;
}

.info2-1{
  float:left;
  width:65%;
  height:450px;
}

.info2-1 h1{
  color:#33475B;
  font-size: 40px;
  font-family: "AvenirNextLTPro-Bold.otf";
  width: 70%;
}

.info2-1 p{
  color:#33475B;
  width: 70%;
  margin-top:25px;
}

.info2-1 a{
  text-decoration: none;
  color:white;
  display:inline-block;
  padding: 26px 30px;
  background:#FF7A59;
  font-size:18px;
  margin-top:30px;
  border-radius: 5px;
}

.info2-1 a:hover{
  opacity:0.9;
}

.info2-2{
  float:left;
  width:35%;
  height:450px;;
}

.donna{
  height:300px;
  background:#F2547D;
  width:80%;
  border-radius: 50%;
}

.donna img{
  width: 100%;
}


/* |quarta sezione */

.footer-global{
  height: 700px;
  background:#33475B;
}

.footer-top,
.footer-middle,
.footer-bottom{
  width:80%;
  margin-left: 10%;
}

.footer-top{
  width:80%;
  height: 50%;
  background:#33475B;
}

.footer-top::after{
  content: "";
  display:table;
  clear:both;
}

.foot-top{
  float:left;
  width: 25%;
  height: 100%;
}

.foot-top ul{
  list-style-type: none;
  margin-top: 20%;
}

.foot-top ul li:first-child{
  color: white;
}

.foot-top ul li{
  margin-bottom: 27px;
}

.foot-top ul li a{
  text-decoration: none;
  color: white;
  opacity: 0.7;
}

.foot-top ul li a:hover{
  color:#0091ae;
}

/* footer middle */
.footer-middle{
  height: 20%;
  background:#33475B;
}

.footer-middle::after{
  content: "";
  display:table;
  clear: both;
}

.foot-middle ul{
  list-style-type: none;
}

.foot-middle a{
  text-decoration: none;
}


.foot-middle1{
  margin-left: 73%;
  margin-bottom: 15px;
}

.foot-middle2{
  margin-left: 73%;
}

.hub-sup{
  color:#33475B;
  display:inline-block;
  padding: 11px 36px;
  background:white;
  font-size:9px;
  margin-top:0px;
  border-radius: 5px;
}

.foot-middle ul li a{
  float: left;
  margin-right: 35px;
  color: #CBD6E2;
  font-size: 29px;
}

.foot-middle ul li a:hover{
  color:#0091ae;
}

.footer-bottom{
  height: 30%;
  background:lightgreen;
}

.foot-bot1{
  height: 30%;
  width: 60%;
  margin-left: 20%;
  background: #33475B;
}

.foot-bot1 ul{
  list-style-type: none;
  padding-top: 1%;
  margin-left: 150px;
}

.foot-bot1 ul li{
  float:left;
  margin-right: 50px;
  font-size: 17px;
}

.foot-bot1 ul li a{
  text-decoration: none;
  color:#CBD6E2;
}

.foot-bot1 ul li a:hover{
  text-decoration: none;
  color:#0091ae;
}

.foot-bot2{
  height: 70%;
  width: 100%;
  background:brown;
}

.foot-bot2::after{
  content:"";
  display:table;
  clear:both;
}

.foot-bot2-1,
.foot-bot2-2{
  float: left;
  width:50%;
  height: 100%;
}

.foot-bot2-1{
  background:yellow;

}

.foot-bot2-2{
  background:orange;
}
