*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "AvenirNextLTPro-Regular.otf"
}

@font-face {
  font-family: "AvenirNextLTPro-Regular.otf";
  src: url(avenir-font/font/AvenirNextLTPro-Regular.otf);
}

@font-face {
font-family: "AvenirNextLTPro-Bold.otf";
src: url(avenir-font/font/AvenirNextLTPro-Bold.otf);

}

/* header */
.global-header{
  width: 100%;
  height: 200px;
  background:lightblue;
}

.global-header::after{
  content: "";
  display: table;
  clear: both;
}
/* top-header */
.top-header{
  width: 100%;
  height:50px;
  background-color:#33475B;
}

.top-header::after{
  content: "";
  display: table;
  clear: both;
}

.logo{
  float: left;
  width:10%;
  height:50px;
}

.logo img{
  height: 40%;
  margin-left: 70%;
  margin-top:15px;
}

.about{
  float: left;
  width:30%;
  height:50px;
}

.about ul{
  list-style-type: none;
}

.about ul li{
  display:block;
  float:left;
  color:white;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 18px;
}

.about ul li a{
  text-decoration: none;
  color:white;
}

.about ul li a:hover{
  color:orange;
}

.login{
  float: right;
  width:20%;
  height:50px;
}

.login ul li{
  display:block;
  float:left;
  color:white;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 18px;
}

.login ul li a{
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.login ul li:nth-child(3){
  font-size: 4px;
}
/* |top-header */

/* middle-header */
.middle-header{
  width: 100%;
  height:75px;
  background-color: #E2E2E2;
}

.middle-header::after{
  content: "";
  display: table;
  clear: both;
}

.info{
  float: left;
  width:30%;
  background:#E2E2E2;
  height:75px;
}

.info ul{
  list-style-type: none;
  margin-left: 30%;
}

.info ul li{
  display:block;
  float:left;
  color:white;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 25px;
  color:#33475B;
}

.get-hub{
  float: right;
  width:30%;
  height:75px;
}

.get-hub ul{
  list-style-type: none;
  margin-left: 20%;
}

.get-hub ul li{
  display:block;
  float:left;
  color:white;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 25px;
}

.get-hub ul li:first-child{
  color:#33475B;
  font-size: 14px;
}

.get-hub ul li:last-child{
  padding: 8px 20px;
  background:#FF7A59;
  margin:0 10px;
  border:2px solid black;
  font-size:18px;
  margin-top:10px;
}
/* |middle-header */

/* bottom-header */

.bottom-header{
  width: 100%;
  height:75px;
  background-color: white;;
}

.bottom-header::after{
  content: "";
  display: table;
  clear: both;
}

.logo2{
  float: left;
  width:30%;
  height:75px;
}

.logo2 img{
  width: 40%;
  height: 40%;
  margin-left: 23%;
  margin-top: 4%;
}

.categ{
  float: right;
  width:40%;
  height:75px;
}

.categ ul{
  list-style: none;
  margin-left:15%;
}

.categ ul li{
display:block;
float:left;
color:white;
font-size: 20px;
margin-left: 20px;
margin-top: 25px;
}

.categ ul li a{
  text-decoration: none;
  color:#33475B;
}
/* |header */

/* prima sezione */
.first{
  height: 693px;
  width: 100%;
  background: url(../img/sfondohub.png)
}

.first h1{
  color:#33475B;;
  font-size: 60px;
  display: block;
  padding-top: 10%;
  padding-left: 20%;
  width: 50%;
  font-family: "AvenirNextLTPro-Bold.otf";
}

.first h4{
  color:#33475B;;
  display: block;
  padding-top: 2%;
  padding-left: 20%;
  font-size: 15px;
  width: 50%;
}

.first a{
  text-decoration: none;
  color:white;
  display:inline-block;
  padding: 26px 30px;
  background:#FF7A59;
  margin:0 10px;
  font-size:18px;
  margin-top:10px;
  margin-left: 20%;
  border-radius: 5px;
}

.first a:hover{
  opacity: 0.8;
  transition:0.5s;
}
/* |prima sezione */

/* seconda sezione */
section.middle{
  width: 100%;
  height:1300px;
  background: #F4F8FA;
}

.global-middle{
  width: 70%;
  background: red;
  height: 1250px;
  margin-left: 15%;
}

.middle1{
  width: 100%;
  height: 400px;
  background: #F4F8FA;
}

.middle1 img{
  margin-top: 50px;
  height: 50%;
  margin-left: 40%;
}

.middle1 h1{
  text-align: center;
  font-family: "AvenirNextLTPro-Bold.otf";
  font-size: 35px;
  color:#33475B;
  margin-top: 15px;
}

.middle1 p{
  text-align: center;
  color:#33475B;
  margin-top: 10px;
  display:block;
  width: 70%;
  margin-left: 15%;
}

.global-middle2{
  width: 100%;
  height: 850px;
  background-color: lightgreen;
}

.global-middle2::after{
  content: "";
  display: table;
  clear: both;
}

.first-middle2{
  width: 100%;
  height:300px;
  background:orange;
}

.first-middle2::after{
  content: "";
  display: table;
  clear: both;
}

.first-middle2-1,
.first-middle2-2{
  float:left;
  height: 100%;
}

.first-middle2-1{
  width: 35%;
  background: white;
}

.first-middle2-1 img{
  width:43%;
  margin-left: 25%;
  margin-top: 10%;
}

.first-middle2-1 a{
  text-decoration: none;
  color:white;
  display:inline-block;
  padding: 16px 20px;
  background:#FF7A59;
  margin:0 10px;
  font-size:15px;
  margin-top:10px;
  margin-left: 33%;
  border-radius: 5px;
  }


.first-middle2-2{
  width: 65%;
  background:white;
}

.first-middle2-2 h3{
  font-family: "AvenirNextLTPro-Bold.otf";
  margin-top: 50px;
  color: #33475B;
}

.first-middle2-2 p{
  margin-top: 10px;
  color: #33475B;
}

.first-middle2-2 ul{
  list-style-type: none;
  margin-top: 10px;
}

.first-middle2-2 ul li{
  display:block;
  float:left;
  color:#33475B;

}

.first-middle2-2 ul li i{
  display:block;
  float:left;
  color:#FF7A59;
  margin-right:10px;
}

i.i-margin{
  margin-left:10px;
}

.divider{
  width: 100%;
  height: 55%;
  background:orange;

}

.divider-2{
  width: 100%;
  height: 45%;
  background:brown;

}


.second-middle2,
.third-middle2,
.fourth-middle2{
  float:left;
  height: 530px;
  margin-top:20px;
  width:30%;
  background:pink;
}

.third-middle2{
  margin-left: 5%;
  margin-right: 5%;
}


/* |seconda sezione */

/* terza sezione */
.global-griglia{
  width: 100%;
  height:600px;
  background: #00B9A8;
}

/*| terza sezione */
